/* module-key = 'com.atlassian.confluence.plugins.expand-macro:expand-macro-css-only', location = 'com/atlassian/confluence/plugins/expand/css/expand-macro.css' */
@media all{.expand-content{margin:0 0 10px 20px}.expand-icon{vertical-align:text-bottom}.expand-control-text{vertical-align:top;color:#0052cc}.expand-control-text:hover{text-decoration:underline}}@media screen{.expand-hidden{display:none;opacity:0}.expand-control{cursor:pointer;text-decoration:none;margin-bottom:10px}}@media print{.expand-content{display:block!important}}