/* module-key = 'com.k15t.scroll.scroll-pdf:spark-export-ui-web-resource', location = 'com/k15t/scroll/exporter/ui/pdf-export-ui-bootstrap.css' */
#k15t-exp-pdf-export-dialog-web-item {
    background-image: url('/s/es_ES/8100/5084f018d64a97dc638ca9a178856f851ea353ff/4.10.1/_/download/resources/com.k15t.scroll.scroll-pdf:spark-export-ui-web-resource/PDF_white_16px.svg');
    background-position: 8px 50%;
    background-repeat: no-repeat;
    background-size: 16px;
}

#k15t-exp-pdf-export-dialog-web-item span {
    margin-left: 20px!important;
}
